@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  font-color: white;
}
.cont{
  display: grid;
  grid-template-areas: "cabecalho"
                       "corpo";
  grid-gap: 5px;
}
.cabecalho{
  grid-area: cabecalho;
  padding: 15px;
  background-color: #114025;

  display: flex;
  justify-content: space-between;
  align-content: center;
}
.logo{
  height: 50px;
}
.corpo{
  grid-area: corpo;
  padding: 30px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: white;
}
.login{
  padding-left: 250px;
  padding-right: 250px;
}
.icon{
  width: 25px;
  height: 25px;
}
.buttonicon{
  font-size:20px;
  color:white;
}
.check{
  width: 150px;
  height: 150px;
}
.fim{
  flex-direction: column;
}
.idade{
  display: none;
}
.question {
  border-bottom: 1px solid #ccc;
  padding: 10px 0
}

.question input,
.question .answer { display: none }

.question label {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%
}
.question input:checked ~ .answer {
  display: block
}